{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta content=“width=device-width, initial-scale=1, maximum-scale=1” name=“viewport”>
    <title>{% block title %}{% endblock %}</title>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">
      <div class="col-12 text-align-center">
        <img src="{% static 'img/netflixbanner.jpg' %}" style="width:100%;">
      </div>
    

      {% block content %}{% endblock %}

    </div>
    </body>
  </head>
</html>